<mat-toolbar>Registro de Signos vitales</mat-toolbar>

<form class="example-container" [formGroup]="form" (ngSubmit)="aceptar()">
  <div>
    <mat-form-field id="auto">
      <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente" [formControl] = "myControlPaciente"
      formControlName = "paciente" #textInput >
      <mat-autocomplete #autoPaciente = "matAutocomplete" [displayWith]="displayFn" 
      (optionSelected) = "seleccionarPaciente($event)">
        <mat-option *ngFor = "let p of filteredOptions | async" [value] = "p">
          {{p.nombres}} {{p.apellidos}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button color="accent" type="button" (click)="modal()" id="nuevo">Nuevo Paciente</button>
  </div>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha" formControlName="fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Temperatura" formControlName="temperatura" NumbersOnly
    [allowDecimals]="true" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Pulso" formControlName="pulso" NumbersOnly [allowDecimals] = "false">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ritmo Respiratorio" formControlName="ritmo" NumbersOnly 
    [allowDecimals] = "false">
  </mat-form-field>
  
  <button mat-raised-button type="submit" [disabled]="!form.valid || !validar()" color="primary" >
    Aceptar
  </button>
  

</form>  