<mat-toolbar>Registro de Signos vitales</mat-toolbar>

<form class="example-container" [formGroup]="form" (ngSubmit)="aceptar()">
  <div>
    <mat-form-field id="auto">
      <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente" [formControl] = "myControlPaciente"
      formControlName = "paciente" >
      <mat-autocomplete #autoPaciente = "matAutocomplete" [displayWith]="displayFn" 
      (optionalSelected) = "seleccionarPaciente($event)">
        <mat-option *ngFor = "let p of filteredOptions | async" [value] = "p">
          {{p.nombres}} {{p.apellidos}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-raised-button color="primary" type="button" (click)="modal()" id="nuevo">Nuevo Paciente</button>
  </div>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha" formControlName="fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Temperatura" [(ngModel)]="temperatura" formControlName="temperatura" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Pulso" [(ngModel)]="pulso" formControlName="pulso">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ritmo Respiratorio" [(ngModel)]="ritmo" formControlName="ritmo">
  </mat-form-field>

</form>  