<mat-toolbar>Registro de Signos vitales</mat-toolbar>

<form class="example-container" [formGroup]="form" (ngSubmit)="aceptar()">
  <div class="example-container">
    <mat-form-field>
      <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente" [formControl] = "myControlPaciente"
      formControlName = "paciente">
      <mat-autocomplete #autoPaciente = "matAutocomplete" [displayWith]="displayFn" 
      (optionalSelected) = "seleccionarPaciente($event)">
        <mat-option *ngFor = "let p of filteredOptions | async" [value] = "p">
          {{p.nombres}} {{p.apellidos}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </div>
</form>  